.Table {
    width: 100%;
    height: 60%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: sans-serif;
}

.Title {
    color: rgba(196, 161, 65, 0.89);
    font-size: larger;
    text-decoration: underline ;
    font-weight: bold;
}

.Table th {
    padding: 7px;
    font-weight: lighter;
}