.ToolbarProps{
    padding: 20px 20px;
    width: 100%;
    height: 65%;
    text-align: center;
    position: fixed;
    margin: -50px 285px;
    display: block;
    background-color: rgb(125, 182, 184);

}

.ToolbarProps p{
    font-size: large; 
    padding: 3px;
}

.ToolbarProps input {
    padding: 8px;
    color: green;
    margin-left: 6px;
}
.box {
    padding: 20px;
    width: 150px;

}

@media (min-width: 500px){
    .ToolbarProps{
        width: 50%;
        position: absolute;
        margin: 60px auto;
        left: 250px;
        right: 250px;
        text-align: center;
        padding: 30px;
        font-size: 25px;
        height: 500px;
    }
    .ToolbarProps p{
        font-size: medium; 
        padding: 4px;
    }
    .box{
        width: 300px;
        height: 60px;
    }
}
