
.SubmitButton{ 
    padding: 15px;
    background-color: rgb(170, 167, 167);
    position: relative;
    margin-bottom: 0px;
}

.MainEl h2{
    font-size: 30px;
    color: steelblue;
    text-align: center;
}

@media (min-width: 500px){
    .SubmitButton{
        position: fixed;
        bottom: 40px;
        left: 280px;
    }
    .MainEl h2{
        margin-top: 55px;
        padding: 25px ;
    }
}