.App {
  text-align: center;
  margin: 0;
  width: 100%;
  
}

body{
  background-color: rgb(230, 227, 227);

}

.Menu{
  margin-top: 0;
  background-color: #6495ed;
  padding: 29px;
  /* margin-bottom: 10px; */
  
}
ul{
  list-style-type: none;
}

.Menu ul{
  list-style-type: none;
  padding: 20px;
  width: 200px;
  background-color: #f1f1f1;
  display: inline;
}
.Menu li{
  display: inline;
  padding: 0 15px;
  float: right;
  font-size: 20px;
}
.Menu li a {
  display: block;
  color: #000;
  padding: 0px 16px;
  text-decoration: none;
}
.Menu .Logo{
  font-size: 25px;
  float: left;
  padding: 0px 30px;
  font-weight: bold;
  margin-top: 0px;
}
.Menu li a:hover {
  background-color: #555;
  color: white;
}






.AboutGame{ 
  width: 50%;
  position: absolute;
  margin: 0px auto;
  left: 250px;
  right: 250px;
  text-align: center;
  padding: 30px;
  font-size: 25px;
  background-color: rgb(125, 182, 184);
}
.AboutGame h2{
  text-align: center;

}
.XButton , .xContact{
  font-size: 20px;
  float: right;
}

.Icons{
  float: right;
}
.Content{
  width: 50%;
  position: absolute;
  margin: 0px auto;
  left: 250px;
  right: 250px;
  padding: 15px;
  font-size: 25px;
  background-color: rgb(125, 182, 184);
}
.InnerContent{
  text-align: center;
  /* padding: 30px; */
}
.InnerContent li{
  padding: 7px;
}
.InnerContent .Gender{
  color: indigo;
  font-size: 20px;
}

/* .Game{
  width: 50%;
  position: absolute;
  margin: 150px auto;
  left: 250px;
  right: 250px;
  text-align: center;
  padding: 30px;
  font-size: 25px;
  background-color: rgb(125, 182, 184);
} */


.Game h2{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

